body {
  height: 100vh;
}

.Main {
  display: flex;
  flex-flow: row wrap;
}

header {
  flex: 1 100%;
  order: 0;
  height: 10vh;
  background-color: #00325F;
  color: #ffffff;
  padding-left: 10px;
}

footer {
  flex: 1 100%;
  order: 3;
  height: 10vh; 
  background-color: #AAAAAA;
}


aside {
  flex: 1;
  order: 1;
  height: 80vh;
  background-color: #D8D8D8;
  overflow-y: scroll;
  margin: 0px;
}

article {
  flex: 3;
  background-color: #E5E5E5;
  order: 2;
}